.body{
    background-image: url(https://wallpaperaccess.com/download/login-hd-16692);
    
    background-color: rgb(240, 244, 245);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    
}
.login{
  width: 30%;
  margin: auto;
  color: aliceblue;

  margin-top: 50px;
  padding: 40px;
  
}
.email{
    padding: 20px 20px;
    margin-top: 10px;
}
.email h2{
    text-align: center;
    /* font-family:'Courier New', Courier, monospace; */
    font-weight: 500;
    color: whitesmoke;
    
    margin-bottom: 20px;
}
.loginButton{
    margin: 0 60px;
    text-align: center;
}
Button:hover{
    background-color: rgb(74, 74, 237);
}
p{
    text-align: center;
    margin:30px 0 60px 0;
}
a{
    width: auto;
}
