<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <img src="/assets/logo1.png" width="55" height=auto class="d-inline-block align-top" alt="">
    <a class="navbar-brand" href="" style="color:white ;">DoConnect</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <!--- search content method for testing purpose-->
      

      <ul class="nav navbar-nav navbar-right">
        
       
      </ul>
    </div>
  </div>
</nav>










<div class="container my-4 d-flex flex-row float-right">
  <span class="container me-5">
    <h4 style="text-align: right">Welcome {{ admin.name }}</h4></span
  >
  <span class="container">
    <button
      class="btn me-2 btn-outline-danger float-end"
      (click)="adminLogout(admin.id)"
      type="button"
    >
    <img src="/assets/logout.png" width="65" height=auto class="d-inline-block align-top" alt="">
    <a class="navbar-brand" href="" style="color:white ;"></a>
      
    </button>
  </span>
</div>
<div class="container">
  <div class>
    
    <button
      class="btn my-2 btn-outline-primary"
      (click)="addAdmin()"
      type="button"
    >

    <img src="/assets/admin.png" width="80" height=auto class="d-inline-block align-top" alt="">
        <a class="navbar-brand" href="" style="color:white ;"></a> <br>
      Add Admin
    </button>

    &nbsp;
    &nbsp;
    &nbsp;

    <button
      (click)="getUnApprovedQuestions()"
      class="btn my-2 btn-outline-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#questionTable"
      aria-expanded="false"
      aria-controls="questionTable"
    >

    <img src="/assets/question.png" width="80" height=auto class="d-inline-block align-top" alt="">
        <a class="navbar-brand" href="" style="color:white ;"></a> <br>
      Questions for Approval
    </button>

    &nbsp;
    &nbsp;
    &nbsp;
    <button
    (click)="getUnApprovedAnswers()"
    class="btn my-2 btn-outline-primary"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#answerTable"
    aria-expanded="false"
    aria-controls="answerTable"
  >

  <img src="/assets/question.png" width="80" height=auto class="d-inline-block align-top" alt="">
        <a class="navbar-brand" href="" style="color:white ;"></a> <br>
    Answers for Approval
  </button>
  &nbsp;
  &nbsp;
  &nbsp;

  <button
  (click)="getAllUsers()"
  class="btn my-2 btn-outline-primary"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#userTable"
  aria-expanded="false"
  aria-controls="userTable"
>
<img src="/assets/user.png" width="80" height=auto class="d-inline-block align-top" alt="">
        <a class="navbar-brand" href="" style="color:white ;"></a> <br>
  All Users
</button>


    
    <div *ngIf="questionThere" class="collapse" id="questionTable">
      <table class="table">
        <tr class="table-success table-striped">
          <th>Id</th>
          <th>Question</th>
          <th>Posted By</th>
          <th>Topic</th>
          <th>Approve</th>
          <th>Reject</th>
        </tr>

        <tr
          class="table-success table-striped"
          *ngFor="let question of questions"
        >
          <td>{{ question.id }}</td>
          <td>{{ question.question }}</td>
          <td>{{ question.user.name }}</td>
          <td>{{ question.topic }}</td>
          <td>
            <button
              class="btn btn-primary"
              id="{{ question }}"
              (click)="approveQuestion(question.id)"
            >
              Accept
            </button>
          </td>
          <td>
            <button
              class="btn btn-danger"
              id="{{ question }}"
              (click)="deleteQuestion(question.id)"
            >
              Reject
            </button>
          </td>
        </tr>
      </table>
    </div>

  


















    <div *ngIf="answerThere" class="collapse" id="answerTable">
      <table class="table table-success table-striped">
        <tr>
          <th>Id</th>
          <th>Answer</th>
          <th>Answer Given by</th>
          <th>Approve</th>
          <th>Reject</th>
        </tr>

        <tr *ngFor="let answer of answers">
          <td>{{ answer.id }}</td>
          <td>{{ answer.answer }}</td>
          <td>{{ answer.answerUser.name }}</td>

          <td>
            <button
              class="btn btn-primary"
              id="{{ answer.id }}"
              (click)="approveAnswer(answer.id)"
            >
              Accept
            </button>
          </td>
          <td>
            <button
              class="btn btn-danger"
              id="{{ answer.id }}"
              (click)="deleteAnswer(answer.id)"
            >
              Reject
            </button>
          </td>
        </tr>
      </table>
    </div>
    &nbsp;
   


















    <div *ngIf="userThere" class="collapse" id="userTable">
      <table class="table table-striped table-hover">
        <tr>
          <th>Id</th>
          <th>UserName</th>
          <th>User Email</th>
          <th>PhoneNumber</th>
        </tr>

        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
