<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="container2">
    <div class="flex-allitem d-flex flex-row justify-content-md-center">
      <img
        src="https://cdn.sstatic.net/Img/home/illo-code.svg?v=b7ee00fff9d8"
        class="img1 t128 mt128"
        alt=""
      />

      <div class="flex-item">
        <div class="flex-box1">
          <h4 style="font-size:40px; font-family:'Times New Roman', Times, serif; " >
            Go from questioning to understanding
          </h4>
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <button class="btn1 btn btn-primary" type="submit">
              join now
            </button>
          </a>
        </div>
      </div>
     
      <img
        src="https://cdn.sstatic.net/Img/home/illo-code.svg?v=b7ee00fff9d8"
        class="img2 tn128 mt128"
        alt=""
      />
    </div>
    <h1 class="d-flex justify-content-md-center text-light">Ask Questions</h1>
    <h1 class="d-flex justify-content-md-center text-warning">Get Help</h1>
    <h1 class="d-flex justify-content-md-center text-light">
      Go Beyond
    </h1>
    <br>

    
    <div class="flex--button d-flex justify-content-center">
      <a
        routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <button type="submit" class="btn btn-primary">Get Started</button>
      </a>
    </div>
  </div>
</div>
